@media screen and (min-width: 300px){
  html{
    line-height: 1.2em;
    background: #90e0ef;
	font-family: sans-serif, Ubuntu;
	padding:1.282em;
  }
	
  h1{
    font-size: 2em;
    color: white;
    background-color: #560bad;
    box-sizing: border-box;
    width: 90%;
    padding: 3%;
	text-align: center; 
  }
  
  h2{
    margin: auto;
    color: #003049;
    font-size: 2em;
  }

  label{
	display: block;
	font-family: Arial, sans-serif;
	margin: 0 1.5%;
	
  }

  div{
    float: left;
	clear: both;
	margin: 10%;
	text-align: center;
  }
  
  section{
    clear:both;
	margin: left;
  }
    
  #contact_info label{
	box-sizing: border-box;
	text-align: left;
	padding: 10px;
	width: 100%;
  }
  
  #contact_info input{
	margin: 3em 0 1em 0;
	padding: 1em;
  }
  
  #submit{
    font-family: Arial;
    box-sizing: border-box;
    width: 25%;
    height: 3em;
    background-color: #c2c5aa;
    color: black;
    font-size: 1.25em;
	margin: auto; 
  }
  
}

@media screen and (min-width: 620px){
  h1{
    font-size: 3em;
	margin: 0 0 2.5% 0;
  }
  
  h2{
    font-size: 2.5em;
  }
  
  label{
    font-size:2em;
  }
  
  div{
    float: none;
	clear: none;
	margin: 0;
	left: 10%;
	position: relative;
  }
  
  #contact_info label{
	float:none;
	position: relative;
  }
  
  #contact_info input{
	float: none;
	clear: none;
	position: relative;
	width: 20%;
	height: 2em;
  }
  
  #submit{
	font-size: 2em;  
    margin: 0 0 5% 0;
  }
  	
}